@font-face {
	font-family: "Limkin";
	src: url("/assets/fonts/limkin.ttf");
}
* {
	margin: 0;
	padding: 0;
	font-family: "Limkin", sans-serif;
	font-variation-settings: "wght" 500, "SRFF" 0;
	box-sizing: border-box;
	text-wrap: pretty;
	scroll-behavior: smooth;
	scroll-margin-top: 40px;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--black: #353535;
	--black2: #282828;
	--black3: #1b1b1b;
	--white: #e5e5e5;
	--font-size: 18px;
}
body {
	background-color: var(--black3);
	color: var(--white);
}
img {
	width: 100%;
	display: block;
}
a {
	color: inherit;
	text-decoration: 1px wavy underline;
}
a:hover {
	text-decoration: none;
}
a:active {
	opacity: .5;
}
h1,h2,h3,h4,h5,h6 {
	font-variation-settings: "wght" 700, "SRFF" 0;
}
@media only screen and (max-width: 600px) {
	:root {
		--font-size: 14px;
	}
}

/* Structure */
.container {
	display: flex;
	flex-direction: column;
	padding: 40px 20px 80px 20px;
	gap: 40px;
	max-width: 720px;
	margin: 0 auto;
	align-items: start;
	min-height: 100dvh;
	justify-content: safe center;
}

/* Header */
.header {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.header-title {
	font-size: 40px;
	line-height: 1.1em;
}
.header-title span {
	animation: header-title 1s infinite alternate ease-in-out;
	transform-origin: bottom left;
	display: inline-block;
	font-variation-settings: "wght" 700, "SRFF" 0;
}
@keyframes header-title {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(.5);
	}
}
.header p {
	font-size: var(--font-size);
	line-height: 1.4em;
}
@media only screen and (max-width: 600px) {
	.header-title {
		font-size: 24px;
	}
}

/* Nav */
.nav {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	gap: 8px;
}
.nav button {
	border: unset;
	background-color: var(--black);
	color: var(--white);
	border-radius: 5px;
	padding: 6px 10px 4px 10px;
	font-size: var(--font-size);
	cursor: pointer;
}
.nav button:hover {
	background-color: var(--white);
	color: var(--black);
}
.nav button:active {
	opacity: .5;
}

/* Steps */
.steps {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: start;
}
.step-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: start;
}
.step-group-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: start;
}
.step-group-title {
	font-size: 18px;
}
.step {
	background-color: var(--black);
	box-shadow: 8px 8px 0 var(--black2);
}
@media only screen and (max-width: 600px) {
	.step {
		width: 100%;
	}
}
.step[data-content="1"] {
	width: 100%;
	margin-bottom: 20px;
}
.step:nth-child(6n+1) {
	--primary: var(--pink);
}
.step:nth-child(6n+2) {
	--primary: var(--green);
}
.step:nth-child(6n+3) {
	--primary: var(--blue);
}
.step:nth-child(6n+4) {
	--primary: var(--yellow);
}
.step:nth-child(6n+5) {
	--primary: var(--purple);
}
.step:nth-child(6n+6) {
	--primary: var(--red);
}
.step-heading {
	display: flex;
	align-items: center;
	gap: 14px;
	font-size: var(--font-size);
	line-height: 1.1em;
	background-color: rgba(255,255,255,.1);
	padding: 10px 20px;
	cursor: pointer;
}
.step-heading:hover {
	background-color: rgba(255,255,255,.2);
}
.step-heading:active {
	opacity: .5;
}
.step[data-content="1"] .step-heading {
	background-color: var(--primary);
}
.step[data-content="1"] .step-heading:hover {
	background-color: var(--white);
}
.step[data-content="1"] .step-heading:hover .step-heading-number {
	color: var(--white);
}
.step-heading-number {
	width: 32px;
	height: 32px;
	font-size: 14px;
	flex-shrink: 0;
	color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: .2em;
	border-radius: 50%;
	line-height: 1em;
	flex-shrink: 0;
	font-variation-settings: "wght" 700, "SRFF" 0;
	background-color: var(--primary);
}
.step[data-content="1"] .step-heading-number {
	background-color: var(--black);
	color: var(--primary);
}
.step-heading-text {
	color: var(--primary);
	padding-top: .2em;
	font-variation-settings: "wght" 700, "SRFF" 0;
}
.step[data-content="1"] .step-heading-text {
	color: var(--black);
}
.step-content {
	padding: 20px;
	font-size: var(--font-size);
	line-height: 1.4em;
	flex-direction: column;
	align-items: start;
	gap: 20px;
	display: none;
}
.step-content strong {
	color: var(--primary);
	font-variation-settings: "wght" 700, "SRFF" 0;
}
.step-content-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.step-content-list-item {
	display: grid;
	gap: 10px;
	grid-template-columns: 40px 1fr;
	align-items: start;
}
.step-content-list-item-number {
	color: var(--primary);
	border-bottom: 1px solid var(--primary);
	font-variation-settings: "wght" 700, "SRFF" 0;
}
.step-content-list-item-text {
	
}
.step[data-content="1"] .step-content {
	display: flex;
}
.text-callout {
	background-color: var(--primary);
	color: var(--black);
	border-radius: 5px;
	padding: .18em .1em 0 .1em;
}

/* Single figures */
.figure {
	width: calc(100% - 80px);
	border: 1px solid var(--black3);
	margin: 0 auto;
	position: relative;
	background-color: var(--black3);
}
.figure figcaption {
	flex-grow: 1;
	font-size: var(--font-size);
	line-height: 1.4em;
	padding: 16px 20px 14px 20px;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0;
	transition: opacity .2s;
	width: 100%;
}
.figure:hover figcaption {
	opacity: 0.25;
}
@media only screen and (max-width: 600px) {
	.figure {
		width: 100%;
	}
}
@media only screen and (max-width: 600px) {
	.figure figcaption {
		position: static;
	}
}

/* Slideshows */
.slideshow {
	position: relative;
}
.slideshow-content {
	width: calc(100% - 80px);
	border: 1px solid var(--black3);
	margin: 0 auto;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	gap: 1px;
	background-color: var(--black3);
}
.slideshow-content::-webkit-scrollbar {
	height: 10px;
	background-color: var(--black3);
	border-top: 1px solid var(--black3);
}
.slideshow-content::-webkit-scrollbar-track {
	border-radius: 10px;
	border-top: 1px solid var(--black3);
}
.slideshow-content::-webkit-scrollbar-thumb {
	background-color: var(--black);
	border-top: 1px solid var(--black3);
	cursor: grab;
}
.slideshow-content::-webkit-scrollbar-thumb:hover {
	background-color: var(--white);
}
.slideshow-content::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}
.slideshow-content figure {
	scroll-snap-align: start;
	display: flex;
	flex-direction: column;
	gap: 1px;
	position: relative;
}
.slideshow-content figcaption {
	flex-grow: 1;
	font-size: var(--font-size);
	line-height: 1.4em;
	padding: 16px 20px 14px 20px;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0;
	transition: opacity .2s;
	width: 100%;
}
.slideshow-content:hover figcaption {
	opacity: 0.25;
}
.slideshow-controls {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1px;
}
.slideshow-nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-top: .25em;
	font-size: var(--font-size);
	background-color: var(--white);
	color: var(--black);
	font-variation-settings: "wght" 500, "SRFF" 0;
	border: unset;
	opacity: .25;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.slideshow-nav-left {
	left: 0;
}
.slideshow-nav-right {
	right: 0;
}
.slideshow-nav:hover {
	opacity: 1;
}
.slideshow-nav:active {
	background-color: var(--black);
	color: var(--white);
}
@media only screen and (max-width: 600px) {
	.slideshow {
		width: 100%;
	}
	.slideshow-content {
		width: 100%;
	}
	.slideshow-content figcaption {
		position: static;
		flex-grow: 0;
	}
	.slideshow-nav-left {
		left: 5px;
	}
	.slideshow-nav-right {
		right: 5px;
	}
}

/* Explanations */
.explanation-open {
	font-size: var(--font-size);
	border: unset;
	background-color: var(--black2);
	color: var(--white);
	width: 100%;
	padding: 16px 20px 14px 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	font-variation-settings: "wght" 500, "SRFF" 0;
}
.explanation-open:hover {
	background-color: var(--black3);
}
.explanation-open:active {
	opacity: .5;
}
.step[data-explanation="1"] .explanation-open {
	display: none;
}
.explanation {
	border-radius: 10px;
	background-color: var(--black2);
	padding: 20px;
	display: none;
	flex-direction: column;
	gap: 20px;
	color: var(--white);
	align-items: start;
	width: 100%;
}
.step[data-explanation="1"] .explanation {
	display: flex;
}
.explanation-close {
	font-size: var(--font-size);
	border-radius: 10px;
	border: unset;
	background-color: var(--black);
	color: var(--white);
	padding: 16px 20px 14px 20px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-variation-settings: "wght" 500, "SRFF" 0;
}
.explanation-close:hover {
	background-color: var(--black3);
}
.explanation-close:active {
	opacity: .5;
}

/* File path visualization */
.folder {
	width: 100%;
	border: 1px solid var(--primary);
	border-left: 5px solid var(--primary);
	background-color: var(--black2);
	padding-bottom: 20px;
	border-radius: 10px;
	overflow: hidden;
}
.folder .folder {
	width: auto;
	margin: 0 20px;
}
.folder-files {
	display: flex;
	flex-direction: column;
}
.folder-file {
	padding: 5px 10px;
}
.folder-name {
	padding: 5px;
	background-color: var(--primary);
	color: var(--black);
	margin-bottom: 10px;
	font-variation-settings: "wght" 700, "SRFF" 0;
}
.folder-break {
	height: 20px;
}